services:
  tester:
    build:
      context: .
      dockerfile: Dockerfile
    image: gunet/phpcas-tester:latest
    environment:
      - REDIR_FOLDER=${REDIR_FOLDER:-tester}
    env_file:
      - ./variables.env
    ports:
      - "443:443"
      - "80:80"
    logging:
      driver: "json-file"
      options:
        max-size: "25m"
        max-file: "2"